
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Josefin Sans', sans-serif;
    
}
/* .container{
  gap: 20px 5px;
} */
.card{
    column-gap: 2rem;
}
.nav-item a{
    font-size: 20px;
}
.nav-button{
    border-radius: 20px;
}
.home-site{
    padding: 20px;
}
.bg-color{
    background-color:darkseagreen;
    margin: 0;
    padding: 0;
}
.small-logo{
    height: 200px;
    width: 200px;
}
.card-footer{
    display: flex;
}
.pic-size{
    height: 180px;
    width: 180px;
}